{%load bootstrap4%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {%block styles%}
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/mdb.css'%}">
    <link  href="{%static 'css/style.css'%}" rel="stylesheet">
    <link rel="icon" href="{%static 'img/in.png'%}">
    {%endblock%}
  </head>
  <body>
    {%include 'navbar.html'%}
    {%block content%}

    {%endblock%}

    {%block scripts%